.timer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 1rem;
    margin: 3rem 15rem;
    background-color: rgba(10, 23, 55, 0.1);
    border-radius: 3rem;
    border: 1px solid rgba(10, 23, 55, 0.8);
}

.button {
    padding: 12px;
    border-radius: .5rem;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: var(--cor-texto);
    font-size: 1rem;
}

.button:hover,
.button.active {
    background-color: rgba(10, 23, 55, 0.3);
    border: 1px solid rgba(10, 23, 55, 0.5);
}

.time {
    padding: 10px;
    margin: 30px;
    font-size: 5rem;
    color: var(--cor-texto);
    font-family: var(--fonte-destaque);
}

.start {
    padding: 15px;
    border-radius: .5rem;
    margin: 5px;
    border: none;
    font-size: 1rem;
    background-color: rgba(10, 23, 55, 0.5);
    border: 1px solid rgba(10, 23, 55, 0.7);
    color: var(--cor-texto);
}

